---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Oh shit, a ghost">
    <div class="flex justify-center content-center text-6xl items-center min-h-screen text-center"> 
        404<br>
        cuatrosientocuatro <br>
        No mi ciela, no existe <br>
        fck
    </div>
</Layout>