<div class="py-4 px-8 flex flex-col">
  <h1 class="text-6xl font-bold text-center sm:text-left">Christian Ortiz</h1>
  <p class="text-lg sm:text-xl lg:text-2xl py-4 opacity-85 text-justify">
    +2 años de experiencia.
    <span class="font-bold text-orange-400/95">Desarrollador WEB Frontend</span>
    en Sevilla, España 🇪🇸. Siempre en constante aprendizaje de nuevas tecnologías.
  </p>
</div>
<img
  id="astronaut-illustation"
  src="../public/astronaut-hero.webp"
  alt="Imagen del Hero de Christian Ortiz, stronaut-illustation"
  class="w-[300px] lg:w-[500px]"
/>
<style>
  h1 {
    background-image: linear-gradient(45deg, #a070d4, #bf6936);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }
  #astronaut-illustation {
    -webkit-animation: mover 1.5s infinite alternate;
    animation: mover 1.5s infinite alternate;
  }
  img {
    filter:drop-shadow(2px 2px 1px rgba(255, 255, 255, 0.5))
    drop-shadow(0 10px 20px rgba(160, 112, 212, 0.15))
      ;
  }

  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
</style>
